.gcloudignore
.git/
.venv/
.local/
.artifacts/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.env
.env.*
!.env.example
gha-creds-*.json
**/.DS_Store
**/__pycache__/
**/*.pyc
ios/
tests/
data/**/source/
data/**/cache/
