<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(IC_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(IC_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ICAPIBaseURL</key>
	<string>$(IC_API_BASE_URL)</string>
	<key>ICCodeRevision</key>
	<string>$(IC_CODE_REVISION)</string>
	<key>ICEnvironment</key>
	<string>$(IC_ENVIRONMENT)</string>
	<key>ICPrivacyPolicyURL</key>
	<string>$(IC_PRIVACY_POLICY_URL)</string>
	<key>ICRevenueCatAPIKey</key>
	<string>$(IC_REVENUECAT_API_KEY)</string>
	<key>ICSentryDSN</key>
	<string>$(IC_SENTRY_DSN)</string>
	<key>ICSupportEmail</key>
	<string>$(IC_SUPPORT_EMAIL)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location can give a report stronger context. IlliniCover only checks it while you submit.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
